.list_container{
    /* border: 1px solid red; */
    width: 20%;
    margin: 2% auto;
}

.list_container > p{
    background-color: orange;
    color: black;
    padding: 3%;
    border-radius: 3px;
    display: flex;
    justify-content: center;
}

.loading{
    /* border: 1px solid red; */
    background: green;
    color: white;
    width: 20%;
    padding: 1% 0%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    font-size: 1.4rem;
    border-radius: 3px;
    opacity: 0;
}

.show_loading{
    opacity: 1;
}